{% extends 'must/base.html' %}
{% load static %}

{% block content  %}
<div class="container">
    <h1>ITEMS</h1>
    <div>
        <a class="btn btn-danger float-right" href="{{'create'}}"><i class="fa fa-plus fa-2x">New Item</i></a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% for item in object_list %}
            <div class="card mb-3">
                <img class="card-img-top" src="{% if item.image %} {{ item.image.url }} {% else %} {% static 'must/items/default.png' %} {% endif %}" style="height: 130px; width: auto">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">LOCATION: {{ item.location }}</p>
                </div>
            </div>
                {% empty %}
                <div class="alert alert-warning">No Items Yet.</div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h2>Categories</h2>
        </div>
    </div>   
</div>
{% endblock  %}
